<section class="menu-intro">
    <h2>Secondi Piatti</h2>
    <p>Tutti i nostri secondi piatti tradizionali e creativi</p>
</section>

<div class="dish-list">
    <div *ngFor="let dish of secondi" class="dish-card">
        <img [src]="dish.image" [alt]="dish.name" class="dish-image">
        <h4>{{ dish.name }}</h4>
        <p class="ingredients">{{ dish.ingredients }}</p>
        <p class="price">{{ dish.price | currency:'EUR':'symbol' }}</p>
    </div>
</div>

<app-client-footer></app-client-footer>
