<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <img src="assets/Lume-logo.png" alt="Lume Logo">
    </div>

    <div class="footer-social">
      <a href="https://www.facebook.com/"><img ngSrc="assets/icons/Facebook.svg" alt="Facebook" height="100" width="100"></a>
      <a href="https://www.instagram.com/"><img ngSrc="assets/icons/Instagram.svg" alt="Instagram" height="100" width="100"></a>
      <a href="https://www.tiktok.com/"><img ngSrc="assets/icons/TikTok.svg" alt="TikTok" height="100" width="100"></a>
    </div>
    <div class="footer-info">
      <div class="footer-info-conteiner">
        <div class="footer-info-title">Contattaci</div>
        <p>Lume&#64;katamail.it</p>
        <p>+39 104 647 6969</p>
      </div>
      <div class="footer-info-conteiner">
        <div class="footer-info-title">Lavora con noi</div>
        <p>LumeCV&#64;katamail.it</p>
        <p>+39 104 647 6969</p>
      </div>
      <div class="footer-info-conteiner">
        <div class="footer-info-title">Dove trovarci</div>
        <p>Bolzano</p>
        <p>Monopoli</p>
      </div>
      </div>
  </div>
</footer>
