<div class="login-container">
    <div class="login-box">
        <h2>Accedi</h2>
        <form (submit)="login()">
            <input type="text" [(ngModel)]="telefono" placeholder="Numero di telefono" required>
            <input type="password" [(ngModel)]="password" placeholder="Password" required>
            <button type="submit" class="btn">Accedi</button>
            <a href="#" class="forgot-password">Password dimenticata?</a>
        </form>
    </div>

    <div class="register-box">
        <h2>O se non hai un account</h2>
        <h3>Registrati</h3>
        <form (submit)="register()">
            <input type="text" [(ngModel)]="nome" placeholder="Nome" required>
            <input type="text" [(ngModel)]="cognome" placeholder="Cognome" required>
            <input type="text" [(ngModel)]="telefonoReg" placeholder="Numero di telefono" required>
            <input type="email" [(ngModel)]="email" placeholder="Email (opzionale)">
            <input type="password" [(ngModel)]="passwordReg" placeholder="Password" required>
            <button type="submit" class="btn">Registrati</button>
        </form>
    </div>
</div>