<section class="menu-intro">
    <h2>Scopri i nostri piatti</h2>
    <p>Piatti autentici preparati con ingredienti freschi e selezionati</p>
</section>

<section *ngFor="let category of menuCategories" class="category">
    <h3>{{ category.name }}</h3>
    <div class="dish-list">
        <div class="dish-card" *ngFor="let dish of category.dishes">
            <h4>{{ dish.name }}</h4>
            <p class="ingredients">{{ dish.ingredients }}</p>
            <p class="price">{{ dish.price | currency:'EUR':'symbol' }}</p>
        </div>
    </div>
    <a [routerLink]="getRouteForCategory(category.name)" class="see-more">Altro</a>
</section>