@font-face {
  font-family: "Cinzel Decorative";
  src: url("/assets/fonts/Cinzel_Decorative/CinzelDecorative-Regular.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Cinzel Decorative";
  src: url("/assets/fonts/Cinzel_Decorative/CinzelDecorative-Bold.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Cinzel Decorative";
  src: url("/assets/fonts/Cinzel_Decorative/CinzelDecorative-Black.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("/assets/fonts/Cinzel_Decorative/Avenir Next/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("/assets/fonts/Cinzel_Decorative/Avenir Next/AvenirNextLTPro-It.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Next";
  src: url("/assets/fonts/Cinzel_Decorative/Avenir Next/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  autoplay: true;
  loop: true;
}

.hero {
  height: 80vh;
  display: flex;
  align-items: top;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: white;
  background: transaparent;
}
.hero .hero-content {
  position: relative;
  z-index: 1;
  max-width: 600px;
}
.hero .hero-content .cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-size: 4rem;
  font-style: normal;
}
.hero .hero-content .intro-text {
  font-family: "Avenir Next", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 20px;
}
.hero .hero-content .btn-primary {
  font-family: "Avenir Next", serif;
  display: inline-block;
  background-color: #d4af37;
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 5px;
}

.main-nav {
  background-color: white;
  padding: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.main-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.main-nav ul li a {
  text-decoration: none;
  color: #222;
  font-weight: bold;
  font-size: 1.2rem;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;
  margin-top: 4rem;
  margin-left: 15rem;
  margin-right: 15rem;
}
@media (min-width: 768px) {
  .section {
    flex-direction: row;
    justify-content: space-between;
  }
}
.section img {
  max-width: 80%;
  height: auto;
}
.section .section-content {
  text-align: center;
  max-width: 100%;
  justify-content: center;
  padding: 6rem 4rem;
  margin: 3rem;
}
.section .section-content .cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
  width: 20rem;
  margin-right: 7rem;
  padding: 5px;
}
.section .section-content .cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}
.section .section-content .cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}
.section .section-content .avenirNextLTPro-bold {
  font-family: "Avenir Next", serif;
  font-weight: 700;
  font-style: normal;
}
.section .section-content .avenirNextLTPro-it {
  font-family: "Avenir Next", serif;
  font-weight: 400;
  font-style: normal;
}
.section .section-content .avenirNextLTPro-regular {
  font-family: "Avenir Next", serif;
  font-weight: 400;
  font-style: normal;
  width: 20rem;
  margin-right: 10rem;
  padding: 5px;
  line-height: 1.4;
}
.section h2 {
  font-size: 2rem;
  margin-bottom: 5rem;
}

.menu-preview {
  text-align: center;
  padding: 50px 20px;
}
.menu-preview h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}
.menu-preview .menu-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.menu-preview .menu-grid .menu-item {
  width: 200px;
  height: 150px;
  background-color: #cccccc;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 10px;
}

/*# sourceMappingURL=home-page.component.css.map */
